*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #D7C3FF;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.livro-imagem{
    width: 25%;
}

.os-teus-olhos{
    width: 20%;
}

.o-jardim-secreto{
    width: 30%;
}

.texto-site{
    width: 25%;

}

.rodape{
    background-color: #D7C3FF;
    text-align: center;
}

.rodape-img{
    height: 60px;
    padding: 12px;0
}